<table>
    <tbody>
        <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Area in ha</td>
            <td>Id</td>
        </tr>
        <tr
            *ngFor="let farm of farms"
            (click)="onSelect(farm?.id)"
            [class.selected]="selectedFarmId === farm?.id"
        >
            <td>{{ farm?.number }}</td>
            <td>{{ farm?.name }}</td>
            <td>{{ farm?.area }}</td>
            <td>{{ farm?.id }}</td>
        </tr>
    </tbody>
</table>
